<div class="container">
  <div class="row py-2">
    <div class="col-3">
      <span>Completed Items : {{ compltetedItems }}</span>
    </div>
    <div class="col-3">
      <span>Pending Items : {{ pendingItems }}</span>
    </div>
    <div class="col-6 text-right">
      <span>Total Items : {{ items.length }}</span>
    </div>
  </div>
  <div class="row alert alert-secondary">
    <div class="col-11">
      <input [(ngModel)]="addNew" type="text" value="" class="form-control" />
    </div>
    <div class="col-1">
      <button (click)="addToList()" class="btn btn-primary" style="width: 87px">
        ADD
      </button>
    </div>
  </div>
  <div *ngFor="let item of items; let index = index">
    <div
      class="row alert"
      (click)="status(index)"
      [ngClass]="item.status == true ? 'alert-success' : 'alert-primary'"
    >
      <div class="col-11">
        <div class="row p-2">
          <div class="col-10">
            <span>{{ item.task }}</span>
          </div>
          <div class="col-2">
            <span *ngIf="item.status">Completed</span>
          </div>
        </div>
      </div>
      <div class="col-1">
        <button
          (click)="removeItem(index)"
          class="btn btn-danger"
          style="width: 87px"
        >
          REMOVE
        </button>
      </div>
    </div>
  </div>
</div>
