<div class="container">
  <div class="row py-2">
    <div class="text-right">Total Items {{ items.length }}</div>
  </div>
  <div class="row alert alert-info">
    <div class="col-8">
      <input [(ngModel)]="addNew" type="text" value="" class="form-control" />
    </div>
    <div class="col-4">
      <button (click)="addToList()" class="btn btn btn-primary">ADD NEW</button>
    </div>
  </div>
  <div *ngFor="let item of items; let index = index">
    <div class="row alert alert-primary">
      <div class="col-8">
        <span>{{ item }}</span>
      </div>
      <div class="col-4">
        <input
          (click)="removeItem(index)"
          type="button"
          value="Delete"
          class="btn btn-danger"
        />
      </div>
    </div>
  </div>
</div>
